{% extends '__base__.html' %}

{% block title %}日志{% endblock %}

{% block beforehead %}
<script>
    var page = '{{ page_index }}';
    function initVM(data) {
        var vm = new Vue({
            el: '#vm',
            data: {
                blogs: data.blogs,
                page: data.page
            }
        });
        $('#vm').show();
    }
    $(function() {
        getJSON('/api/blogs', {page:page}, function (err, results) {
            if (err) {
                return fatal(err);
            }
            $('#loading').hide();
            initVM(results);
        });
    });
</script>
{% endblock %}

{% block content %}
    <div id="vm" class="uk-width-medium-3-4">
        <article v-repeat="blog: blogs" class="uk-article">
            <h2><a v-attr="href: '/blog/' + blog.id" v-text="blog.name"></a></h2>
            <p class="uk-article-meta" v-text="blog.created_date.toDateTime()"></p>
            <p v-text="blog.summary"></p>
            <div v-text="blog.content"></div>
            <p><a v-attr="href: '/blog/' + blog.id">继续阅读 <i class="uk-icon-angle-double-right"></i></a></p>
        </article>
        <hr class="uk-article-divider">
        <div v-component="pagination" v-with="page"></div>
    </div>
    <div class="uk-width-medium-1-4">
        <div class="uk-panel uk-panel-header">
            <h3 class="uk-panel-title">友情链接</h3>
            <ul class="uk-list uk-list-line">
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="#">读书</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="#">Java</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="#">Python</a></li>
				<li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="#">JavaScript</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="#">Tool</a></li>
            </ul>
        </div>
    </div>
{% endblock %}